@model HeaderModel
<div class="col-xl-12">
    <div class="page-titles">
        <div class="d-flex align-items-center">
            <h2 class="heading">@Model.Title</h2>
            <!-- <p class="text-warning ms-2">Welcome Back Yatin Sharma !</p> -->
        </div>
    </div>
</div>